{% extends 'complaints/base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height:75vh">

    <div class="glass p-5 fade-in" style="width:420px; max-width:90%;">
        
        <h2 class="text-center mb-2 fw-bold">Welcome Back</h2>
        <p class="text-center text-muted mb-4">
            Login to continue to the grievance system
        </p>

        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Username</label>
                {{ form.username }}
            </div>

            <div class="mb-4">
                <label class="form-label">Password</label>
                {{ form.password }}
            </div>

            <button type="submit" class="btn btn-primary w-100 btn-cta">
                Login
            </button>
        </form>

        <div class="text-center mt-4">
            <small class="text-muted">
                Don’t have an account?
                <a href="{% url 'register' %}">Register</a>
            </small>
        </div>
    </div>

</div>
{% endblock %}
